<!DOCTYPE html>
<html>
  <head>
    <title>NossoAmigoSecreto</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag %>
  </head>
  <body>
<<<<<<< HEAD
    <header>
      <%= render "shared/navbar" %>
    </header>
=======

    <header>
      <%= render "shared/navbar" %>
    </header>

>>>>>>> controller_member
    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main>
<<<<<<< HEAD
=======

    <footer>
    <%= render "shared/footer" %>
    </footer>

>>>>>>> controller_member
  </body>
</html>